
header {max-width: 1000px;
    	margin: auto; 


    }


.header { 
	
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.logo { 
	width:200px;
text-align: center;
display:inline-block;
   img {
	width:100%;
	}
}

.derecha { 

display:inline-block;

	span {
		display:inline-block;
	}

	form{ display:inline-block;
	}

}

.izquierda {display:inline-block;}





.menu {
	nav {
		ul{
			display:flex;
			justify-content:center;
			li{ 
				padding:30px;

			}
		}
	}
}


.slider {
	position:relative;
	color:white;

	.texto-slider {
		max-width: 800px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align:center;

		h1{
			font-size:60px;
			padding: 20px;
			p{
				font-size: 15px;
			}
		}
	}
}

.imagen-linea{
	border-top: 2px solid grey;
	max-width: 12800px;
	margin: auto;
	padding-top: 50px;
}

.imagenes{
	padding: 10px;
	padding-top: 8	0px;
	margin:auto;
	text-align: center;
	
	article{
		padding:5px;
		display:inline-block;
		width: 470px;
		img{
			width:100%;
		}

	}
}








